{% extends "base.html" %}

{% block content %}

<h3>{{movie.title}}</h3>
{% if movie.cover %}
    <p> <img src="{{movie.cover.url}}" width="300" height="auto"> </p>
{% else %}
    <p> <img src="https://dummyimage.com/200x300/000/fff&text=NO+COVER" width="300" height="auto"> </p>
{% endif %}

<p><b>release_year:</b> {{movie.release_year}}</p>
<p><b>duration:</b> {{movie.duration}}</p>
<p><b>genre:</b> {{movie.genre}}</p>
<p><b>rating:</b> {{movie.rating | default_if_none:"-"}}</p>
<p><b>date_added:</b> {{movie.date_added | default_if_none:"-"}}</p>
<p><b>director:</b> {{movie.director | default_if_none:"-"}}</p>
<p><b>description:</b> {{movie.description}}</p>
<p><b>actors:</b>

    {% for a in movie.actors.all %}
        {{a}} -
    {% endfor %}

</p>

<hr>

{% if perms.viewer.change_movie %}
    <a href="{% url 'movie_update' movie.id%}">Update</a>
{% endif %}

{% if perms.viewer.delete_movie %}
    <a href="{% url 'movie_delete' movie.id%}">Delete</a>
{% endif %}

{% endblock%}

