{% extends "base.html" %}


{% block content %}

    <form method="get">
        <input type="text" name="search">

        <input type="submit" value="Search">
    </form>

    <ul>

      {% for m in movies %}
        <li> <a href="{% url 'movie_detail' m.id %}">{{m.title}}</a> - {{m.release_year}} - {{m.rating | default_if_none:"*"}}</li>
      {% endfor %}

    </ul>


    {% if perms.viewer.add_movie %}
        <a href="{% url 'create_movie'%}">Create Movie</a>
    {% endif %}

{% endblock %}




